#!/bin/bash

/usr/bin/avahi-publish -a -R pma.barmin-home.local 192.168.88.65 &
/usr/bin/avahi-publish -a -R bt.barmin-home.local 192.168.88.65 &
/usr/bin/avahi-publish -a -R my.barmin-home.local 192.168.88.65 &
/usr/bin/avahi-publish -a -R hub.barmin-home.local 192.168.88.65 &
