#!/bin/bash

/usr/bin/avahi-publish -a -R pma.barmin-home.local 192.168.88.70 &
/usr/bin/avahi-publish -a -R bt.barmin-home.local 192.168.88.70 &
/usr/bin/avahi-publish -a -R my.barmin-home.local 192.168.88.70 &
/usr/bin/avahi-publish -a -R hub.barmin-home.local 192.168.88.70 &
/usr/bin/avahi-publish -a -R media.barmin-home.local 192.168.88.70 &
/usr/bin/avahi-publish -a -R grafana.barmin-home.local 192.168.88.70 &
/usr/bin/avahi-publish -a -R prometheus.barmin-home.local 192.168.88.70 &
