#!/bin/sh

wget https://files.phpmyadmin.net/phpMyAdmin/5.2.2/phpMyAdmin-5.2.2-all-languages.zip
unzip phpMyAdmin-5.2.2-all-languages.zip

rm -rf /var/www/phpmyadmin/*
mv ./phpMyAdmin-5.2.2-all-languages/* /var/www/phpmyadmin

rm -rf phpMyAdmin-5.2.2-all-languages
rm -rf phpMyAdmin-5.2.2-all-languages.zip
