<VirtualHost *:80>
    ServerName media.barmin-home.local

    ProxyPreserveHost On
    ProxyRequests Off

    ProxyPass / http://127.0.0.1:8096/
    ProxyPassReverse / http://127.0.0.1:8096/

    RewriteEngine On
    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteRule /(.*) ws://127.0.0.1:8096/$1 [P,L]
    RewriteCond %{HTTP:Upgrade} !=websocket [NC]
    RewriteRule /(.*) http://127.0.0.1:8096/$1 [P,L]

    CustomLog /var/log/apache2/media_access.log combined
    ErrorLog /var/log/apache2/media_error.log
</VirtualHost>
