<?php
$g_hostname               = 'localhost';
$g_db_type                = 'mysqli';
$g_database_name          = 'bt_abarmin_pro';
$g_db_username            = 'bt_abarmin_pro';
$g_db_password            = 'bt_abarmin_pro';

$g_default_timezone       = 'UTC';

$g_crypto_master_salt     = 'kVQ5fCtDm6pnwS/dBDEiRf8dWH3aUWhNPTMX2rans5M=';

$g_phpMailer_method        = PHPMAILER_METHOD_SMTP; # or PHPMAILER_METHOD_SMTP, PHPMAILER_METHOD_SENDMAIL

$g_smtp_host            = 'abarmin.pro';            # used with PHPMAILER_METHOD_SMTP
$g_smtp_port            = 465;
$g_smtp_username        = 'bt@abarmin.pro';                    # used with PHPMAILER_METHOD_SMTP
$g_smtp_password        = 'password';                    # used with PHPMAILER_METHOD_SMTP
$g_administrator_email  = 'bt@abarmin.pro';
$g_webmaster_email      = 'bt@abarmin.pro';
$g_from_email           = 'bt@abarmin.pro';    # the "From: " field in emails
$g_return_path_email    = 'bt@abarmin.pro';    # the return address for bounced mail
$g_from_name            = 'Mantis Bug Tracker';
$g_smtp_connection_mode = 'ssl';

# $g_email_receive_own	= OFF;
$g_email_send_using_cronjob = ON;

# --- Attachments / File Uploads ---
$g_allow_file_upload    = ON;
$g_file_upload_method    = DISK; # or DISK
$g_absolute_path_default_upload_folder = "_uploads/"; # used with DISK, must contain trailing \ or /.
$g_max_file_size        = 52428800;    # in bytes
# $g_preview_attachments_inline_max_size = 256 * 1024;
# $g_allowed_files		= '';		# extensions comma separated, e.g. 'php,html,java,exe,pl'
# $g_disallowed_files		= '';		# extensions comma separated

$g_enable_profiles = OFF;

$g_status_enum_string = '10:new,20:feedback,30:acknowledged,40:confirmed,50:assigned,80:resolved,90:closed,60:assessment,61:review,62:allocation,63:execution';
$g_status_enum_string .= ',64:qualification';
$g_status_enum_string .= ',65:testing';
$g_status_enum_string .= ',66:completed';

$g_status_colors['assessment'] = '#ACE7AE';
$g_status_colors['review'] = '#66FF99';
$g_status_colors['allocation'] = '#00CCCC';
$g_status_colors['execution'] = '#9999FF';
$g_status_colors['qualification'] = '#FF33FF';
$g_status_colors['completed'] = '#C0C0C0';
$g_status_colors['testing'] = '#CCFFFF';

$g_hide_status_default = 66;
